// Ooh la la
@import "compass/reset";
@import "compass";
@import "singularitygs";
@import "modular-scale";

// Utility
@import "border-box";
@import "button";
@import "clearfix";

// Stuff
@import "base";
@import "layout";

// Foolishness and poor organizational skillz.

body {
  background: red;
}

#page {
  position: relative;
  background-color: white;
}

.box {
  margin: 0 auto;
  overflow: hidden;
}

.box:first-child {
  position: absolute;
  width: 100%;
  top: 36%;
  text-align: center;
}

.box input {
  @include border-radius($radius-l);
  @include adjust-font-size-to($fs-xl);
}

.box:last-child {
  position: absolute;
  width: 100%;
  height: 100%;
}

canvas {
  background-color: white;
}

.legend {
  color: black;
  font-family: $ff-body;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100001;
}

.instructions {
  line-height: 24px;
  color: black;
  font-family: $ff-body;
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 100000;
  display: none;
}

input {
  &:focus {
    outline: none;
  }
}
